<html>
<meta charset="UTF-8">

<head>
    <title>Cadastro</title>
    <link rel="icon" type="image/png" href="..//View/Imagens/Icone.png"/>
    <link rel="stylesheet" href="estilo.css" />
    <script src="Js.js"></script>
</head>
<header>
    <nav id="loginMenu">
        <ul>
            <a title="Login" href="Login.html"><img src="..//View/Imagens/Logo.png"></a>
        </ul>
    </nav>
</header>

<body>
    <div id="card2">
        <h1 id="tituloLogin">Cadastre-se</h1>
        <div id="homelist">
            <form name="Read">
                <div id="formR">
                    <ul>
                        <li>
                            <label id= "usuarioLogin"for="Usuario">Usuario</label>
                            <input type="text" id="cusuario" name="usuario" required />
                            <div id="espaco"></div>
                            <label id= "usuarioLogin"for="Usuario">E-mail</label>
                            <input type="text" id="email" name="email" required/>
                            <div id="espaco"></div>
                            <label id ="senhaLogin" for="Senha">Senha</label>
                            <input type="password" id="csenha" name="senha" required />
                            <div id="espaco"></div>
                            <label id ="confirmaLogin" for="confirmaLogin"> Confirme sua Senha</label>
                            <input type="password" id="cfsenha" name="senha" required />
                            <div id="espaco"></div>
                        </li>
                        <div id="espaco3"></div>
                        <input id="buttonLogin" type="submit" class="logar" onclick="cadastro(); return false" value="Cadastrar" />
                        <a id="loginCadastro" href="Login.html">Já tenho uma conta</a>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</body>
<footer></footer>

</html>