<html>
<meta charset="UTF-8">

<head>
    <title>Delete</title>
    <link rel="stylesheet" href="estilo.css" />
    <script src="Js.js"></script>
</head>
<header>
    <nav id="menu">
        <a id="logo" title="Home" href="Home.html"><img src="Logo.png"></a>
        <ul>
            <li><a href="Create.html">Create</a></li>
            <li><a href="Read.html">Read</a></li>
            <li><a href="Update.html">Update</a></li>
        </ul>
    </nav>
</header>

<body>
    <div id="intro">
        <div id="titulo">
            <h1 id="ttitulo">Delete</h1>
        </div>
        <form name="Read">
            <div id="formR">
                <ul>
                    <li>
                        <label for="filme">Id do Filme:</label>
                        <input type="text" id="barraR" name="filme" />
                    </li>
                    <br>
                    <br>
                    <input id="button" type="submit" class="pesquisar" onclick="buscardelete()" ; value="Buscar" />
                </ul>
            </div>
        </form>
        <div id="rodape">
            <p id="trodape">Dica: Essa pagina tem a função de apagar um filme do banco de dados!</p>
        </div>
    </div>
</body>
<footer></footer>

</html>