<html>
<meta charset="UTF-8">

<head>
    <title>Login</title>
    <link rel="icon" type="image/png" href="..//View/Imagens/Icone.png" />
    <link rel="stylesheet" href="estilo.css" />
    <script src="Js.js"></script>
</head>
<header>
    <nav id="loginMenu">
        <ul>
            <a title href="Login.html"><img src="../View/Imagens/Logo.png"></a>
        </ul>
    </nav>
</header>

<body>
    <div id="card">
        <h1 id="tituloLogin">Faça seu login</h1>
        <div id="cardlist">
            <form name="Read">
                <div id="formR">
                    <ul>
                        <li>
                            <label id="usuarioLogin" for="Usuario">Usuario</label>
                            <input type="text" id="usuario" name="usuario" required />
                            <div id="espaco"></div>
                            <label id="senhaLogin" for="Senha">Senha</label>
                            <input type="password" id="senha" name="senha" required />
                        </li>
                        <div id="espaco2"></div>
                        <input id="buttonLogin" type="submit" class="logar" onclick="login(); return false"
                            value="Logar" />
                        <a id="loginCadastro" href="Cadastro.html">Não tenho uma conta</a>
                        <a id="loginSenha" href="RecuperacaoSenha.html">Esqueci minha senha</a>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</body>
<footer></footer>

</html>